* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: hsl(0, 100%, 74%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 80vh;
    width: 80vw;
    border: 2px solid;
}

section {
    border-radius: 3px;
    width: 50%;
    /* height: 100%; */
}

/*================
Style for the form
*/
form {
    /* height: 70%; */
    gap: .9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    padding: .9em;
    border-radius: 3px;
    border: 1px solid gray;
}